[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/morpho-urd"]
	path = lib/morpho-urd
	url = git@github.com:morpho-org/universal-rewards-distributor.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/flexible-vaults"]
	path = lib/flexible-vaults
	url = git@github.com:mellow-finance/flexible-vaults.git
